/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    font-family:Arial, Helvetica, sans-serif;

}

img{
    max-width: 100%;
}

/* UTILITY */
.debug{
    background-color: rgba(red, 0, 0, 0.50);
    border: 1px solid black;
}

/* COMPONENTS */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
}

.container-little{
    max-width: 1200px;
    margin: 0 auto;
    width: 1000px;
}

.btn{
    border: none;
}

.btn-header{
    background-color: #0061FF;
    padding: 8px 16px;
    font-size: 1rem;
    color: #DDEAFF;
    margin-left: 20px;
}

.btn-hero{
    background-color: #0061FF;
    padding: 10px 15px;
    font-size: 1.1rem;
    color: #DDEAFF;
}

.btn-card{
    background-color: #0061FF;
    padding: 15px;
    font-size: .9rem;
    color: #FFFFFF;
    justify-content: center;
    width: 100%;
}

.btn-large-card{
    background-color: #0061FF;
    padding: 15px 40px;
    font-size: .9rem;
    color: #FFFFFF;
    justify-content: center;
}

.btn-partner{
    position: absolute;
    background-color: #FFFFFF;
    padding: 10px 15PX;
    font-size: .9rem;
    color: #010101;
    border: 1px solid #010101;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 1rem;
}

.btn-free-trial{
    position: absolute;
    right: 0;
    top: 10px; 
    background-color: #FFFFFF;
    padding: 10px 55px;
    font-size: 1rem;
}

/* HEADER */
header{
    position: fixed;
    display: flex;
    z-index: 999;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
}

header .left-side{
    display: flex;
    align-items: center;
    padding: 0 25px;
}

header .right-side{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 25px;
}

header .left-side img{
    width: 120px;
    margin-right: 20px;
}

header .left-side .menu ul,
.right-side .menu ul {
    list-style: none; 
    display: flex;
}

header .left-side .menu ul li,
.right-side .menu ul li{
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 20px;
}

header .left-side .menu ul li a,
.right-side .menu ul li a{
    
    text-decoration: none;
    color: #717171;
    font-size: 1rem;
}

header .left-side .menu ul li:hover, 
.right-side .menu ul li:hover {
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
}
/* END HEADER */

/* MAIN */
main{
    padding-top: 80px;
}

/* JUMBOTRON */
main .jumbotron{
    display: flex;
    background-color: #B4D0E7;
    height: 735px;
}

main .jumbotron .container .title{
    font-size: 3.5rem;
    padding-top: 100px;
    padding-bottom: 55px;
    font-weight: 800;
}

main .jumbotron .container .jumbo-bottom{
    display: flex;
}

main .jumbotron .container .jumbo-bottom .jumbo-bottom-left{
    width: 70%;
    padding-right: 10px;
}

main .jumbotron .container .jumbo-bottom .jumbo-bottom-left p{
    padding-bottom: 35px;
    
}

main .jumbotron .container .jumbo-bottom .jumbo-bottom-left button{
    display: block;
    margin-bottom: 35px;
}

main .jumbotron .container .jumbo-bottom .jumbo-bottom-left span{
    display: block;
    margin-bottom: 80px;
}


main .jumbotron .container .jumbo-bottom .jumbo-bottom-left a i{
    font-size: 3.5rem;
    cursor: pointer;
    color: #000000;
}

/* END JUMBOTRON */

main .container-little .first-title{ /* VA BENE */
    font-size: 2.5rem;
    margin-top: 165px;
    margin-bottom: 75px;
}

main .container-little .check{
    margin-bottom: 50px;
    font-size: 0.9rem;
}

.circle-colored{
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #D6D6D8;
}

.radio-input:checked + .circle-colored{
    border: 5px solid #0061FF;
}

.radio-input{
    display: none;
}

main .container-little .check .check-left{ /* VA BENE */
    padding-right: 50px;
}

main .container-little .cards{
    display: flex;
    justify-content: space-between;
}

/* lONG-CARD */
main .container-little .long-card{
    width: calc(100% / 3 - 35px);
    gap: 1em;
    height: 950px;    
    border: 1px solid #D0D0D3;
}

main .container-little .long-card .top{ /* VA BENE */
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #D0D0D3;
    font-size: .9rem;
}

main .container-little .long-card .bottom{
    padding: 35px 25px;
}

main .container-little .long-card .bottom h3{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

main .container-little .long-card .bottom .price{
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 20px;
}

main .container-little .long-card .bottom .month{
    font-size: .9rem;
    color: #747097;
    padding-top: 15px;
}

main .container-little .long-card .bottom .offer{
    display: flex;
    padding-top: 55px;
    margin-bottom: 25px;
}

main .container-little .long-card .bottom .offer ul{
    list-style: none;
    
}

main .container-little .long-card .bottom .offer ul li{
    padding-bottom: 25px;
    display: flex;
}

main .container-little .long-card .bottom .offer ul li i{
    font-size: .9rem;
    padding-right: 10px;
}

main .container-little .long-card .bottom .offer ul li p{
    font-size: 0.94rem;
}

main .container-little .long-card .bottom .buy{
    margin-top: 35px;
    font-size: .9rem;
}

main .container-little .long-card .bottom .buy a{
    color: #0000EE;
}

main .container-little .long-card .bottom .highlights-offer{
    padding-top: 55px;
    padding-bottom: 25px;
}

main .container-little .long-card .bottom .highlights-offer h4{
    font-size: .9rem;
    margin-bottom: 35px;
}

main .container-little .long-card .bottom .highlights-offer ul{
    list-style: none;
}

main .container-little .long-card .bottom .highlights-offer ul li{
 padding-bottom: 25px;   
 display: flex;
}

main .container-little .long-card .bottom .highlights-offer ul li i{
    color: #0061FF;
    font-size: .9rem;
    padding-right: 5px;
}

main .container-little .long-card .bottom .highlights-offer p{
    font-size: .9rem;
}

/* LARGE-CARD */
main .container-little .large-card{
    height: 255px;
    margin-top: 50px;
    border: 1px solid #D0D0D3;
}

main .container-little .large-card .top{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #D0D0D3;
    font-size: .9rem;
}

main .container-little .large-card .bottom{
    position: relative;
    padding: 35px 25px;
}

main .container-little .large-card .bottom h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

main .container-little .large-card .bottom span{
    font-weight: bold;
    font-size: .9rem;
}

main .container-little .large-card .bottom p{
    font-size: .9rem;
    margin-top: 55px;
    width: 600px;
}

main .container-little .large-card .bottom button{
    position: absolute;
    top:30px;
    right: 30px;
}

/* BOX-PARTNER */
main .container-little .box-partner{
    margin-top: 150px;
    display: flex;
}

main .container-little .box-partner img{
    width: 600px;
}

main .container-little .box-partner .partner-text h2{
    padding-top: 60px;
    padding-left: 50px;
}

main .container-little .box-partner .partner-text p{
    padding: 20px 50px;
}


/* CONTENT */
main .container-little .content .content-cards{
    display: flex;
    flex-wrap: wrap;
}

main .container-little .content h2{
    font-size: 2.5rem;
    margin-top: 170px;
    margin-bottom: 70px;
}

main .container-little .content .content-cards .img-centered{
    text-align: center;
}

main .container-little .content .content-cards .img-centered img{
    width: 300px;
    align-items: center;
}

main .container-little .content .content-cards .feature{
    width: calc(100% /3);
    padding: 0 15px;
    margin-bottom: 50px;
}

main .container-little .content .content-cards h3{
    font-size: 1.5rem;
    padding-bottom: 30px;
    padding-top: 20px;
}

main .container-little .content .content-cards p{
    font-size: 1.1rem;
}

main .container-little .second-title{
    font-size: 2.5rem;
    margin-top: 190px;
    width: 585px;
    margin-bottom: 60px;
}

main .container-little .discover{
    color: #0000EE;
}

/* BIG-BOX */

main .big-box{
    display: flex;
    margin-top: 150px;
    background-color: lightcyan;
}

main .big-box .box-left{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}

main .big-box .box-right{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}

main .big-box .center{
    width: calc(100% / 3);
    background-color: #F5F5F5;
    padding: 50px;
    aspect-ratio: 1 / 1;
    overflow: auto;
}

main .big-box .center .center-logo img{
    width: 270px;
}

main .big-box .center p{
    padding-top: 50px;
    padding-bottom: 50px;
}

main .big-box .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    aspect-ratio: 1 / 1;
}

main .big-box .box img{
    filter: invert(1);
    max-width: 50%;
}


.box-left .box-1{
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

.box-left .box-2{
    background-color: #61082B;
}

.box-left .box-3{
    background-color: #0093CE;
}

.box-left .box-4{
    background-color: #FF1C1C;
}

.box-right .box-1{
    background-color: #D5001F;
}

.box-right .box-2{
    background-color: #B4D0E7;
}

.box-right .box-3{
    background-color: #0D2481;
}

.box-right .box-4{
    background-color: #FFD830;
}

/* FREE TRIAL BOX */
main .free-trial-box{
    position: relative;
    padding: 135px;

    background-color: #B4D0E7;
}

main .free-trial-box .container-little{
    position: relative;
}

main .free-trial-box h2{
    font-size: 2.5rem;
    width: calc(100% / 2);
}

/* ASK */
main .container-little .ask{
    padding-top: 165px;
    padding-bottom: 150px;
}

main .container-little .ask h2{
    font-size: 2.5rem;
    padding-bottom: 70px;
    border-bottom: 1px solid #999999;
}

main .container-little .ask .ask-box{
    display: flex;
    padding: 45px 0;
    border-bottom: 1px solid #999999;
    
}

main .container-little .ask .ask-box h3{
    font-size: 1rem;
    padding-right: 290px;
}

main .container-little .ask .ask-box i{
    font-size: .8rem;
}
/* END MAIN */

/* FOOTER */
footer{
    background-color: #000000;
    color: #EFFFF7;
}

footer .f-col{
    display: flex;
    padding-top: 105px;
    padding-bottom: 115px;
}

footer .f-col .col{
    width: calc(100% / 5);
}

footer .f-col .col h3{
    font-size: 1.5rem;
    padding-bottom: 35px;
}

footer .f-col .col ul{
    list-style: none; 
}

footer .f-col .col ul li{
    padding-bottom: 20px;
}

footer .f-col .col ul li a{
    text-decoration: none;
    color: #EFFFF7;
}

footer .f-col .col ul li a:hover{
    text-decoration: underline;
}

/* END FOOTER */    




